@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import '../../global/default_styles.css';

.container {
    position: fixed;
    color: #7A7067;
    top: var(--header_height);
    width: calc(var(--sidebar_width) - 20px);
    height: calc(100vh - var(--header_height));
    font-family:'NanumSquare', sans-serif;
    z-index: 1;
    background-color: white;
    left: 0px;
}

::-webkit-scrollbar { width: 0px; height: 6px; }

::-webkit-scrollbar-track { display: none; }

::-webkit-scrollbar-thumb { border-radius: 4px; background: #BFB3A8; }

::-webkit-scrollbar-button { display: none; }